{
    "root": true,
    "plugins": [
        "node"
    ],
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "browser": false,
        "node": true
    },
    "rules": {
    "comma-dangle": [2, "never"],
    "max-len": [2, 120, 2],
    "no-console": [2],
    "semi": [2, "never"]
    }
}

